.form-container {
  background-color: rgba(128, 128, 128, 0.281);
  width: auto;
  border-radius: 10px;
  position: relative;
  height: auto;
  .input-fields-flex-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .input-field {
    width: 90%;
    height: 3.4px;
    outline: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.075);
    font-family: "Oswald", sans-serif;
    padding: 11.8px;
  }
  &__title-input {
    font-size: 20px;
    border-radius: 10px 0 0 0;
    border: none;
    border-top: 2px solid #ff8c2e85;
    border-bottom: 1px solid #ff8c2e85;
    border-left: 2px solid #ff8c2e85;
  }
  &__description-input {
    font-size: 15px;
    border: none;
    border-top: 1px solid #ff8c2e85;
    border-bottom: 2px solid #ff8c2e85;
    border-left: 2px solid #ff8c2e85;
  }
  &__submit-button {
    cursor: pointer;
    padding: 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 0;
    width: 80px;
    height: 60px;
    background-color: rgb(34, 34, 34);
    color: #ffffff;
    border: none;
    border: 2px solid #ff8c2e85;
    z-index: 5;
  }
}

// Ipad
@media only screen and (min-width: 767px) {
  .form-container {
    .input-fields-flex-wrap {
    }
    .input-field {
      height: 19.9px;
    }
    &__title-input {
      font-size: 40px;
    }
    &__description-input {
      font-size: 25px;
    }
    &__submit-button {
      font-size: 25px;
      width: 130px;
      height: 93px;
    }
  }
}

// Web LapTop
@media only screen and (min-width: 1219px) {
  .form-container {
    .input-fields-flex-wrap {
    }
    .input-field {
    }
    &__title-input {
      font-size: 40px;
    }
    &__description-input {
      font-size: 25px;
    }
    &__submit-button {
      font-size: 25px;
      width: 130px;
      height: 93px;
    }
  }
}

// Web LapTop
@media only screen and (min-width: 1439px) {
}

// Web Desktop
@media only screen and (min-width: 1919px) {
}
