.havetodo-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 10px;
  .font {
    font-family: "Oswald", sans-serif;
  }

  .todo-taks-container {
    padding-left: 5px;
    &__title {
      padding-bottom: 2px;
      font-size: 25px;
      height: 30px;
      line-height: 28px;
      letter-spacing: 0.7px;
      text-transform: capitalize;
      margin-bottom: 2px;
    }
    &__description {
      width: 250px;
      height: 30px;
      line-height: 31px;
      margin-left: 20px;
    }
    .completed {
      text-decoration: line-through;
      text-decoration-thickness: 26px;
      text-decoration-color: rgb(0, 0, 0);

      color: rgba(255, 255, 255, 0.781);
      position: relative;
    }
    .completed::after {
      content: "REDACTED";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 35px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    .buttons-task {
      font-size: 15px;
      width: 50px;
      height: 30px;
      text-align: center;
      color: white;
      background-color: transparent;
      outline: none;
    }
    &__complete-btn {
      border-image-source: linear-gradient(-25deg, #553812, #af5308);
      border-image-slice: 1;
      border-width: 2px;
      margin-bottom: 2px;
    }
    &__trash-btn {
      border-image-source: linear-gradient(165deg, #553812, #af5308);
      border-image-slice: 1;
      border-width: 2px;
    }
  }
}

// Ipad
@media only screen and (min-width: 767px) {
  .havetodo-container {
    .todo-taks-container {
      width: 450px;
      padding-left: 15px;
      .titles {
      }
      &__title {
        font-size: 35px;
        width: auto;
        height: 48px;
        line-height: 39px;
        letter-spacing: 0.7px;
      }
      &__description {
        font-size: 30px;
        width: 430px;
        height: 48px;
        line-height: 45px;
        margin-left: 20px;
      }
      .completed {
        text-decoration-thickness: 37px;
      }
      .completed::after {
        margin-left: 10px;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 50px;
      }
    }

    .buttons-container {
      .buttons-task {
        font-size: 30px;
        width: 85px;
        height: 50px;
        border-width: 3px;
      }
      &__complete-btn {
      }
      &__trash-btn {
      }
    }
  }
}

// Web LapTop
@media only screen and (min-width: 1219px) {
  .havetodo-container {
    .todo-taks-container {
      width: 500px;
      padding-left: 100px;
      .titles {
      }
      &__title {
      }
      &__description {
      }
      .completed {
      }
      .completed::after {
      }
    }

    .buttons-container {
      .buttons-task {
      }
      &__complete-btn {
      }
      &__trash-btn {
      }
    }
  }
}

// Web LapTop
@media only screen and (min-width: 1439px) {
  .havetodo-container {
    .todo-taks-container {
      width: 500px;
      padding-left: 100px;
      .titles {
      }
      &__title {
      }
      &__description {
      }
      .completed {
      }
      .completed::after {
      }
    }

    .buttons-container {
      .buttons-task {
      }
      &__complete-btn {
      }
      &__trash-btn {
      }
    }
  }
}

// Web Desktop
@media only screen and (min-width: 1919px) {
}
