.reset-btn {
  cursor: pointer;
  margin: 15px 0;
  font-size: 35px;
  width: 200px;
  border-color: #ff8c2e85;
  background-color: transparent;
  color: #ffffff;
  letter-spacing: 1px;
}

// Ipad
@media only screen and (min-width: 767px) {
  .reset-btn {
    font-size: 45px;
    width: 300px;
    height: 80px;
  }
}
